*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.npmrc filter=lfs diff=lfs merge=lfs -text
*.pnpm-needs-build-marker filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.cjs filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
references/mysql-8.4.tar.gz filter=lfs diff=lfs merge=lfs -text
.gitignore !text !filter !merge !diff
.npmrc !text !filter !merge !diff
*.json !text !filter !merge !diff
*.ts !text !filter !merge !diff
*.tsx !text !filter !merge !diff
*.md !text !filter !merge !diff
*.yml !text !filter !merge !diff
*.yaml !text !filter !merge !diff
*.sh !text !filter !merge !diff
*.html !text !filter !merge !diff
*.js !text !filter !merge !diff
*.css !text !filter !merge !diff
*.cjs !text !filter !merge !diff
*.py !text !filter !merge !diff
*.gz !text !filter !merge !diff
*.db !text !filter !merge !diff
references/mysql-8.4.tar.gz !text !filter !merge !diff
